pytest>=5.3.5
numpy==1.19.1
torch>=1.5.0
matplotlib>=3.2.0
tensorboard>=1.14.0
torchvision
tensorflow
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
Deprecated==1.2.10
future==0.18.2
idna==2.10
kiwisolver==1.2.0
openreview-py==1.0.17
pandas==1.1.2
pdf2image==1.14.0
Pillow==7.2.0
pycryptodome==3.9.8
pylatexenc==2.7
pyparsing==2.4.7
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
tld==0.10
tqdm==4.48.2
urllib3==1.25.10
wrapt==1.12.1
comet-ml
sklearn
